:root {
    --side-bar-color: #248f8f;
}

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
    border: 1px solid black;
}

body {
    display: flex;
    justify-content: center;
}

.appWrapper {
    height: 100vh;
    width: 1440px;
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 4.5fr;
    grid-template-rows: 1fr 4fr;

}

.sidebar {
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-rows: minmax(80px,1fr) minmax(200px,3fr) 5fr;
    background-color: var(--side-bar-color);
}

.topPart {
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.topSection {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.bottomSection {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.mainPortion {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 9fr 1fr 9fr;
}

.projectSectionHeader {
    grid-row-start: 1;
    grid-row-end: 2;    
    grid-column-start: 1;
    grid-column-end: 3;
}

.projectSection {
    grid-row-start: 2;
    grid-row-end: 5;    
    grid-column-start: 1;
    grid-column-end: 3;
}