:root {
    --side-bar-color: #4296EB;
    --light-font-color: #fff;
    --main-portion-color: #D1DBE6;
    --light-background-color: #FAFAFA;
}

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    background-color: black;
}

.appWrapper {
    height: 100vh;
    width: 1440px;
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 4.5fr;
    grid-template-rows: .3fr 4fr;
    background-color: var(--light-font-color);

}

.sidebar {
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-rows: minmax(80px,1fr) minmax(200px,3fr) 5fr;
    background-color: var(--side-bar-color);
}

.topPart {
    display: grid;
    grid-template-rows: 1fr 1fr;
    border-bottom: 1px solid gray;
    background-color: var(--light-background-color);
}

.topSection {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.leftTopSection {
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin-top: 10px;
}

.searchIcon {
    padding: 12px;
    text-align: right;
}

.searchBar {
    margin-top: 5px;
}

.searchInput {
    line-height: 100%;
    padding: 12px;
    border-radius: 25px;
    width: 100%;
    background-color: lightgray;
}

.rightTopSection {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}

.notificationIconContainer {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    padding-right: 20px;
}

.pfpImageContainer {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    overflow: hidden;
    display: flex; 
    align-items: center; 
    justify-content: center;
    margin-top: 6px;
}

.pfpContainer {
    align-self: end;
    justify-self: end;
}

.pfp {
    width: 100%; 
    height: 100%; 
    object-fit: cover;     
}

.usersName {
    display: flex;
    padding-top: 23px;
}

.bottomSection {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.leftBottomSection {
    display: grid;
    grid-template-columns: 1fr 4.5fr;
}

.welcomeMessage {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 15px;
}

.messageContainer {

}

.pfpSecondImageContainer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
}

.pfpSecondContainer {
    display: flex;
    justify-content: flex-end;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    overflow: hidden;
    margin-top: 6px;
}

.mainPortion {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 9fr 1fr 9fr 6fr;
    height: 100%;
    padding-left: 20px;
    background-color: var(--main-portion-color);
}

.projectSectionHeader {
    grid-row-start: 1;
    grid-row-end: 2;    
    grid-column-start: 1;
    grid-column-end: 3;
}

.projectSection {
    grid-row-start: 2;
    grid-row-end: 5;    
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.7fr 0.7fr 0.7fr;
    gap: 20px;
}

.projectBox {
    border: 1px solid black;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: var(--light-background-color);
}

.orangeSlice {
    background-color: orange;
}

.announcementSectionHeader,
.announcementSection,
.trendingSectionHeader,
.trendingSection {
    padding-left: 20px;
}

.navItem,
.header {
    padding: 9px;
    color: var(--light-font-color);
    display: grid;
    grid-template-columns: 1fr 9fr;
}

.navItem h3 {
    margin-left: 20px;
}

svg {
    height: 27px;
}

.icon {
    color: white;
}

svg {
    fill: currentColor;
}